body {
    background-color: hsl(0, 100%, 74%);
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("C:\Users\hp\Desktop\media query\images\bg-intro-desktop.png");
    background-repeat: repeat;
}
.introduction h2 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 30px;
    color: whitesmoke;
    box-sizing: border-box;
    margin: 5px;
}
.introduction {
    width: 100%;
}
.introduction p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 10px;
    color: whitesmoke;
}
.form1 {
    margin: 10px;
    width: 100%;
}
.form2 p {
    color: whitesmoke;
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    padding: 10px 50px 10px 50px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 10px;
}
.form {
   background-color: whitesmoke;
   padding: 10px; 
   display:block;
   align-items: center;
   justify-content: center;
   text-align: center;
   border-radius: 5px;
}
input {
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(212, 207, 207);
}
input[type=text]:focus {
    border: 1px solid #555;
}
button {
    width: 90%;
    margin: 5px;
    padding: 10px;
    background-color: hsl(154, 59%, 51%);
    color: whitesmoke;
    font-family: "Poppins";
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 10px;
}
form, p {
    font-size: 6px;
    font-family: "Poppins";
    font-weight: 400;
    color: hsl(246, 25%, 77%);
}
@media screen and (max-width: 1000px) {
    .form1 {
        width: 50%;
    }   
}
@media screen and (max-width: 600px) {
    .form1 {
        width: 100%;
    }   
}
@media screen and (max-width: 600px) {
    .introduction {
        width: 100%;
    }   
}
@media screen and (max-width: 1000px) {
    .introduction {
        width: 50%;
    }   
}